// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");


// Define fonts for body and headers
$body-font: "Aqua", "Helvetica", "sans-serif";
$headers-font: "Aqua", "Helvetica", "sans-serif";
$h1-font: "Neue", "Helvetica", "sans-serif";


@font-face {
  font-family: "Aqua";
  src: font-url('assets/Aqua.otf');
}


@font-face {
  font-family: "Maple-Regular";
  src: font-url('assets/Maple-Regular.otf');
}
@font-face {
  font-family: "Format_1452";
  src: font-url('assets/Format_1452.otf');
}

@font-face {
  font-family: "pier";
  src: font-url('assets/pier.otf');
}

@font-face {
  font-family: "Neue";
  src: font-url('assets/Neue.ttf');
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
