<div>
  <% if @items.empty? %>
    <p class="text-whishlist-banner">You don't have any items in favorites...</p>
  <% else %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <% @items.each do |item| %>
          <div class="col-sm-4">
            <div class="wishlist card">
              <div class="title"><%=item.name %></div>
              <div><%= link_to 'See more', item_path(item), :class => "btn btn-success" %></div>
              <i class="fas fa-heart"></i>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
