.project-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.project-groups {
  display: flex;
}

.project-groups .form-inlign {
  display: inline-block;
  align-items: center;
  padding: 0px;
}

.project-groups p {
  display: inline-block;
}

.project-card {
  box-shadow: 1px 1px 1px 1px rgb(220, 220, 220);
  background-color: white;
  margin-bottom: 15px;
}

.card-project-photo {
}

.photo-project {
  height: 180px;
  width: 180px;
  padding: 15px 15px;
  margin-left: 10px;
  border-radius: 50%;
  background-size: cover;
}

.card-project-element {
  display: flex;
  align-items: center;
}

.collaborator-block {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  p {
    margin: 0px;
  }
}

.avatar-margin-left {
  margin-left: 10px;
}
