.block-container-edit {
  display: flex;
  justify-content: space-between;
  align-items: justify;
  flex-wrap: wrap;
  min-height: 100vh;
}

.title-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  h2 {
    font-size: 25px;
  }
  h3 {
    margin: 0px;
    font-size: 25px;
  }
}

// .block-edit {
//   background-color: white;
//   display: flex;
//   justify-content: space-between;
//   display: inline-block;
//   height: 100%;
//   flex: 0 0 100%;
//   @media (min-width: 768px) {
//     flex: 0 0 25%;
//     margin-left: 10px;
//   }
//   @media (min-width: 992px) {
//     flex: 0 0 25%;
//     margin-left: 10px;
//   }
//   h3 {
//     margin-top: 10px;
//     margin-bottom: 10px;
//     font-size: 25px;
//   }
//   .block-edit-part {
//     padding: 20px;
//     box-shadow: 1px 1px 1px 1px rgb(220, 220, 220);
//     background-color: white;
//     margin-bottom: 20px;
//   }
//   .center-button {
//     display:flex;
//     justify-content: center;
//   }
// }

.block-name-users {
  background-color: white;
  flex: 0 0 100%;
  @media (min-width: 768px) {
    flex: 0 0 100%;
  }
  @media (min-width: 992px) {
    flex: 0 0 100%;
  }
  .block-name-users-part {
    padding: 20px 20px;
    box-shadow: 1px 1px 1px 1px rgb(220, 220, 220);
    margin-bottom: 20px;
    background-color: white;
  }
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
  }
}

.card-project-photo-avatar {
  width: 80px;
}

.form-inlign {
  display: flex;
  align-items: center;
  margin: 0px !important;
  justify-content: space-between;
  p {
    display: inline-block;
    font-weight: bolder;
    text-align: left;
  }
}

.button-inlign {
  display: flex;
  justify-content: space-between;
}

.button-stretch {
  display: inline-block;
  padding: 0px 10px;
}

.btn-enlarge {
  width: 200px;
}

.avatar-small {
  height: 60px;
  width: 60px;
  margin: 5px 10px;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 1px 1px 1px 1px rgb(220, 220, 220);
}

.avatar-extra-small {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 1px 1px 1px 1px rgb(220, 220, 220);
}

.card-project-name {
  h3 {
    margin: 0px 0px;
    font-size: 18px !important;
    font-weight: bolder;
    color: black;
    text-decoration: none;
  }
  h3:hover {
      color: rgb(100, 100, 100);
      text-decoration: none;
  }
  p {
  margin: 0px 0px;
  font-size: 12px;
  }
}

.card-project-delete {
  padding: 0px 10px;
}

select#project_status {
  width: 250px;
}

input#project_name {
  width: 250px;
}

select#user_project_user_id {
  width: 250px;
}

.width-70percent {
  width: 70%;
}
.center-block {
  justify-content : center;
}

input#project_client_first_name {
  width: 180px;
}

input#project_client_last_name {
  width: 180px;
}

input#project_client_email {
  width: 250px;
}
