.title-row-show {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 25px;
    margin-bottom: 5px !important;
  }
}


.collab-mail-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
}

.email-sender {
  display: flex;
  align-items: center;
  background-color: white;
  color: rgba(150, 150, 150, 1);
  padding: 5px 10px;
  border-radius: 2px;
  &:hover {
    color: rgb(200, 200, 200);
  }
  p {
    font-size: 14px;
    margin: 0px;
  }
}
