.project-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.project-groups p {
  display: inline-block;
}

.project-card {
  box-shadow: 1px 1px 1px 1px rgb(220, 220, 220);
  background-color: white;
  margin: 20px 20px;
}

.card-project-photo {
}

.photo-size {
  height: 150px;
  width: 150px;
  padding: 10px;
}

.card-project-element {
  display: flex;
}

.card-project-name {
  flex: 1 0 auto;
}
