.photoshow {
  background-size: cover;
  height: 60vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  h1, p, a {

  }
}

.show-project {
  margin-right: 20px;
  margin: 10px;
  position: relative;
  #project_item_project_id.form-control.select.optional {
    width: 30%;
  }
  p.project-button {
    position: absolute;
    left: 210px;
    bottom: 3px;
    width: 150px;
  }
}
