

.show-project {
  margin-right: 20px;
  margin: 10px;
  position: relative;
  #project_item_project_id.form-control.select.optional {
    width: 30%;
  }
  p.project-button {
    position: absolute;
    left: 210px;
    bottom: 3px;
    width: 150px;
  }
}

.tags-projects {
  position: absolute;
  top: 40px;
}
.tag-projects {
  color: #333333;
  button {
    position: relative;
    border-weight: 1px;
    border-radius: 7px;
    border-color: rgb(210, 210, 210);
    width: 250px;
    text-align: center;
    margin: 10px;
    background-color: #ffd8d8;
    .bellepou {
      display: none;
      position: absolute;
      top: 0;
      right: 2px;
      z-index: 10;
    }
  }
  button:hover {
    text-align: left;
    .bellepou {
      display: inline;
      z-index: 10;
      top: 30px;
      left: 10px;
    }
    img {
      background-color: #ffd8d8;
    }
  }
}
