// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
@import "show";

//faire couleur et police ici

.container {
margin-top: 15px;
}

h1 {
  font-family: Neue;
}

h2 {
  font-family: Neue;
}

h3 {
  font-family: Neue;
  font-size: 28px;
  letter-spacing: 2px;
}

h4 {
  font-family: Neue;
}

h5 {
  font-family: Neue;
}

h6 {
  font-family: Neue;
}

a {
  font-family: Neue;
}

p {
  font-family: Neue;
}

input {
  font-family: Neue;
}
