// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
@import "show";

//faire couleur et police ici

.container {
margin-top: 15px;
}

h1 {
  font-family: Akkurat;
  font-size: 34px;
  letter-spacing: 2px;
}

h2 {
  font-family: Akkurat;
  font-size: 32px;
  letter-spacing: 2px;
}

h3 {
  font-family: Akkurat;
  font-size: 24px;
  letter-spacing: 2px;
}

h4 {
  font-family: Akkurat;
  font-size: 20px;
  letter-spacing: 2px;
}

h5 {
  font-family: Akkurat;
  font-size: 18px;
  letter-spacing: 2px;
}

h6 {
  font-family: Akkurat;
  font-size: 18px;
  letter-spacing: 1px;
}

a {
  font-family: Akkurat;
}

p {
  font-family: Akkurat;
}

body {
  font-family: Akkurat;
}


input {
  font-family: Akkurat;
}
