.tag-index {
  color: #333333;
  button {
    position: relative;
    border-weight: 1px;
    border-radius: 7px;
    border-color: rgb(210, 210, 210);
    text-align: center;
    margin: 3px;
    margin-left: 5px;
    font-size: 10px;
  }
}

