.photoshow {
  background-size: cover;
  height: 80vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.area-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 80vh;

}
.project-area-show {
  margin-bottom: 10px;
  .form-projects {
    margin-bottom: 10px;
  }
  .tags-projects {
    margin-bottom: 10px;
  }
}

.tag-area-show-area-show {
  margin-bottom: 10px;
}
