.big-area {
  margin-top: 15px;
}
.photoshow {
  background-size: cover;
  height: 80vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.area-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 80vh;

}
.project-area-show {
  .form-projects {
    margin-bottom: 10px;
  }
  .tags-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
}
.tags-projects .tag-projects {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #FFDBDB;
  border-radius: 13px;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-family: Akkurat;
  letter-spacing: 1px;
  .bellepou {
    background-color: #665e5e;
    border-radius: 50%;
    width: 23px;
    text-align: center;
    margin-left: 10px;
    font-size: 17px;
  }
  a {
    color: #FFDBDB;
    font-weight: lighter;
  }
}
.tag-area-show .tag-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.tag-index .tag-tags {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #f9f8f9;
  border-radius: 13px;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-family: Akkurat;
  letter-spacing: px;
  .bellepou {
    background-color: #665e5e;
    border-radius: 50%;
    width: 23px;
    text-align: center;
    margin-left: 10px;
    font-size: 17px;
  }
  a {
    color: #edeaea;
    font-weight: lighter;
  }
}
.website-area-show a {
  color: #333333;
  font-weight: bolder;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
.scd-row input {
  margin: 20px;
  padding: 1px 13px;
  border-radius: 9px;
  color: rgb(110, 110, 110);
}
.scd-row a {
  margin: 20px;
  padding: 1px 13px;
  border-radius: 9px;
  color: rgb(110, 110, 110);
}

.project-name.link_name a {
  color: #333333;

  &:hover {
    text-decoration: none;
  }
}
