<div class="container">
  <div class="footer">
    <div class="footer-copyright">
    <a href="/items" id="footer-brand">MATECH</a>
    </div>
    <div class="footer-contact">
      <em>Contact us at contact@mattech.tech</em>
    </div>
    <div class="footer-links footer-links a:hover"><p>follow us on </p><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
    </div>
  </div>
</div>
