<div class="footer">
  <div class="inner">
    <div class="footer-copyright">
    <a href="/items" id="footer-brand">Matech</a>
    </div>
    <div class="footer-contact">
      <em>    Contact us at contact@railroad.com</em>
    </div>
    <div class="footer-links footer-links a:hover">
      <a href="https://github.com/PaulaVandemeulebroucke/railroad"><i class="fa fa-github"></i></a>
    </div>
  </div>
</div>

