<a class="filter-by-price" href="" id="ex20a">Filter by price</a>
  <div class="well" style="display: none">
    <span id="ex18-label-1" class="hidden">Example slider label</span>
    <b class="font-price-slider">€ 10</b>
      <input id="ex2" type="text"
      value=""
      data-provide="slider"
      data-slider-min="10"
      data-slider-max="1000"
      data-slider-step="10"
      data-slider-value="[250,450]" />
    <b class="font-price-slider">€ 1000</b>
  </div>
