<div data-tag-id="<%= tag.id %>">
  <div class="card-tag-index"><%= tag.name %></div>
    <div class="bellepou">
    <%= link_to item_tag_path(item, tag), method: :delete, remote: true do %>
      <%= image_tag "trash-simple.svg"%>
    <% end %>
  </div>
</div>
