.card {
  margin: 20px 5px;
  height: 300px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
    .tagshover {
    position: absolute;
    bottom: -300px;
    background-color: white;
    opacity: 0.8;
    width: 100%;
    h1 {
      font-size: 20px;
      margin: 20px;
    }
    img {
      right: 0;
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    .tagshover {
      position: absolute;
      bottom: 0;
      background-color: white;
      width: 100%;
      transition: bottom .5s ease;
      h1 {
        font-size: 17px;
        margin: 10px;
        color: rgb(30, 30, 30);
      }
      p {
        font-size: 15px;
        margin: 20px;
        color: rgb(120, 120, 120);
      }
      .btn {
        border-color: #878787;
        border-size: 9px;
        margin: 10px;
        color: #878787;
        background-color: transparent;
        position: relative;
        left: 31%;
        bottom: -21px;
        &:hover {
          background-color: #a3a3a3;
          color: white;
        }
      }
    }
  }
  .card-like-link {
    z-index: 3;
    position: absolute;
    bottom: 5px;
    right: 3px;
    color: #ffe100;
    font-size: 20px;
  }
}

.box-shadow {
  transition: box-shadow .3s ease-in-out;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.16);
  }
}


