.card {
  margin: 20px 5px;
  height: 300px;
  background-size: cover;
  position: relative;
  cursor: pointer;
  overflow: hidden;
    .tagshover {
    position: absolute;
    bottom: -300px;
    background-color: white;
    width: 100%;
    h1 {
      font-size: 20px;
      margin: 20px;
    }
    img {
      right: 0;
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    .tagshover {
      position: absolute;
      bottom: 0;
      background-color: white;
      width: 100%;
      transition: bottom .3s ease;
      h1 {
        font-size: 17px;
        margin: 20px;
        color: rgb(30, 30, 30);
      }
      p {
        font-size: 15px;
        margin: 20px;
        color: rgb(120, 120, 120);
      }
      .btn {
        margin: 10px;
        margin-left: 125px;
      }
    }
  }
}

