.filter-by-price {
  color: black;
  font-size: 12px;
  margin-left: 5px;
}

.well {
  padding: 10px 10px;
  margin-bottom: 5px;
  background-color: white !important;
  border: 1px solid white !important;
  box-shadow : 1px 1px 1px 1px white !important;

}

.slider-handle {
  width: 2px !important;
  height: 14px !important;
  top: 2px !important;
  margin-left: 0px !important;
  border-radius: 0% !important;
}

.font-price-slider {
  font-size: 14px;
}
